
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #423E3C;
  background-color: #FFFFFF;

}
/* #000000
#423E3C
#D63F09
#F7F5F5
#FFFFFF */
button {
  /* display: flex; */
  /* flex-direction: column; */
  border-radius: 20px;
  min-width: 150px;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  /* font-weight: bold; */
  font-family: inherit;
  background-color: #D63F09;
  color:#FFFFFF;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.5s ease;
}
button:hover {
  background-color: #423E3C;
  color:#FFFFFF;
}
/* a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit; 
}*/
/* a:hover {
  color: #535bf2;
} */

/*


a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */